<%- include('../layouts/header.ejs') %>
<% if (messages.error) { %>
    <p style = "color: red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style = "color: green"><%- messages.success %></p>
<% } %>

<div class="container mt-5">
    <div class="">
        <div class="row">
            <div class="col-5 my-2 mx-2">
                <img src="/uploads/sampul/<%= sampul %>" width="100%" alt="<%= sampul %>">
            </div>
            <div class="col-6 p-2 mt-5">
                <table class="mt-5">
                    <tr>
                        <th>Judul</th>
                        <td> : <%= judul %></td>
                    </tr>
                    <tr>
                        <th>Penerbit</th>
                        <td> : <%= namapenerbit %></td>
                    </tr>
                    <tr>
                        <th>Tahun Terbit</th>
                        <td> : <%= tahunterbit %></td>
                    </tr>
                    <tr>
                        <th>Jumlah Halaman</th>
                        <td> : <%= jumlahhalaman %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>